* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(169, 138, 255);
}

main {
  padding: 1rem;
  height: 100vh;
}

.showPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.authorArticle {
  display: flex;
  font-size: 24px;
  height: 35px;
}

.pubDate {
  display: flex;
  font-size: 18px;
  padding: 0.5%;
}

.contentArticle {
  display: flex;
  font-size: 16px;
  padding: 0.25%;
}

.articleDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

form {
  background-color: rgb(179, 171, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;

}